.panel{
  background-color: $tertiary-color;
  padding: $gutter $gutter/2;
  width: 180px;

  &__button{
    height: 25px;
    width: 25px;
    border-radius: 50%;

    &--is-active {
      transform: scale(1.3);
    }
  }
}
