body {
  background-color: $background-color;
  background: $background-color-gradient;
  
  // background-attachment: fixed; //? in case we want to enlarge the grid, uncomment this.
}
.app {
  height: 100vh;
}
