.row {
  display: flex;
}
.settings {
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.panel{
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
}

